@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&display=swap');

/* Selector universal */
*{font-family: 'Oswald', sans-serif;
    font-weight: 400;}
*{box-sizing: border-box;}

/* Etiqueta  */

html{font-size: 100%;
    margin: 0px 10px}

body{background-color: grey;
    background-repeat: repeat;
    background-attachment: fixed;
    height: auto;
        }

#h1 {color: rgb(66, 53, 255);
    font-size: 3em;
    background-color: rgb(154, 175, 135);
    margin: 0px 0px 10px 0px;
    padding: 10px 0px;
    border-radius: 10px;
    }

h1 {color: rgb(66, 53, 255);
        font-size: 3em;
        background-color: rgb(154, 175, 135);
        margin: 0px 0px 10px 0px;
        padding: 10px 0px;
        border-radius: 10px;
        }

#h2{color: rgb(66, 53, 255);
    font-size: 3em;
    background-color: rgb(154, 175, 135);
    margin: 0px 0px 0px 0px;
    padding: 0px 0px;
    border-radius: 10px;}

h2 {color: brown;
    font-size: 2.0em;
    }


h3 {color: blue;
    font-size: 1.5em
    }

p {color:whitesmoke;
    font-size: 1.2em;
    text-align: center;
    font-weight: 200;
    line-height: 1.3em;
    }

a:hover{color: brown;
        }

label {color: whitesmoke;
        }

.texto-center{text-align: center;
               color: rgb(66, 53, 255); 
            }

.img-redondeo{border-radius: 10px 10px;
              border-style: solid;
                }

.font-size-a{font-size: 1.2em
            }

        .location{display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        padding: 5px 10px;
        }
        .location figure{
            width: 33%;
            border:solid 1px black;
            border-radius: 10px;
            border-color: gray;
           }
        .location figcaption{color:whitesmoke;
                             font-size: 1.2em;
                             font-weight: 200;
                             line-height: 1.3em;
                            }

.video{ display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    }
    .video iframe {margin: 20px 0px;
                    width: 50%;
                    height: 400px;
                    }

.productos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
        
}
    .productos figure{
        width: 33%;
        border: solid 1px gray;
        border-radius: 10px;
        background-color: white;
        padding: 10px 0px;
        margin: 10px 0px;
        display: flex;
        justify-content: space-around;
        align-items:center;

        }
        .productos figure figcaption{
            color:black ;
            font-size: 2.0em;
            margin: 5px 0px;
        }
            .productos figure img{
                width: 30%;   
                margin: 10px;             
            }

            .productos figure p{
                color: black;
                font-size: 1.2em;                     
            }

            .productos figure button{
                    border:none;
                    background-color: rgb(66, 66, 253);
                    padding: 80px 0px;
                    margin: 10px;
                    border-radius: 10px;

            }
            .productos figure button:hover{
                background-color: green;
                cursor: pointer;
                                
            }

/* ID */


/* Decendente */

.nav {background-color: rgb(154, 175, 135);
    border-style: solid;
    border-radius: 10px 10px;
    height: auto;
    position:sticky;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 0px;
    }
    .nav img {
        width: 200px;}

        .nav ul {
            padding: 0px 20px;
            list-style: none;
            display: flex;
            list-style-image: url(../img/iconos/king-poring-1-unscreen.gif);
            }
            .nav ul li{
            margin-right: 30px;
            }
                .nav ul li a{ font-size: 1.2em;
                              color: rgb(66, 53, 255);
                             text-decoration: none;
                            }            


header img {display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
  }

.img{display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
  }
.table {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
  }


div table tr th {color: blue;}
    div table tr td {color: crimson;}

/* Flex */

/* .flex-direction{}
.flex-wrap{}
.flex-flow{}
.justify-content{} */


/*box model  - width [ancho] - height [alto] - margin* [margen] - padding [relleno] - border [borde]*/

.contenedor{background-color: rgba(56, 23, 47, 0.5) ;
    margin: 10px 0px ;
    padding: 0px 0px;
    border-style: solid;
    border-radius: 10px 10px;}

/* Esta para mostrar unicamente
div h3 {position: relative}
.position1{top: 10px;left: 0px;}
.position2{bottom: 170px; left: 0px;z-index: 2;}
.position3{bottom: 300px; left: 0px; z-index: 1;} */


/* Grid */

.merch{
    display: grid;
    grid-template-columns:20% repeat(2,1fr);
    grid-template-rows: 80px repeat(3,300px);
    gap: 5px;
    grid-template-areas: 
    "actions actions actions" 
    "filters uno uno"
    "filters dos tres" 
    "filters dos cuatro";
}

    .merch .actions{
        /* background-color: rgb(244, 241, 241); */
        padding: 0 30px;
        /*definimos el nombre en el grid */
       grid-area: actions;
    }

    .merch .filters{
         /*definimos el nombre en el grid */
       grid-area: filters;
    }

    .merch .prod1{
        /*
        - definimos el nombre en el grid
        - usamos flex para acomodar 
        */
       grid-area: uno;
       display: flex;
       flex-direction: row;
       align-items: center;
       justify-content: center;
    }

    .merch .prod1 p{
        width: 55%;
        margin-left: 50px;
    }

    .merch .prod2{
        /*
        - definimos el nombre en el grid
        - usamos flex para acomodar 
        */
        grid-area: dos;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .merch .prod3{
        /*
        - definimos el nombre en el grid
        - usamos flex para acomodar 
        */
        grid-area: tres;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .merch .prod4{
        /*
        - definimos el nombre en el grid
        - usamos flex para acomodar 
        */
        grid-area: cuatro;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .merch section{
        border-radius: 10px;
    }

    .filters{
        padding: 0 20px 30px 30px;
    }
    
        .filters a{
            color: rgb(63, 6, 63);
            font-size: 1.3em;
            text-decoration: none;
            margin-bottom: 4px;
            text-transform: lowercase;
        }
    
            .filters a:hover{
                color:brown;
            }
    
        .filters span{
            display: block;
            color: rgb(0, 0, 0);
            margin: 10px 0;
            letter-spacing: 1px;
        }
    
        .filters select{
            color: blue;
            border: outset;
            background-color: white;
            margin-bottom: 10px;
            margin-top: 10px;
            font-size: 1.4em;
        }
    
        .filters li{
            padding-left: 0px;
            margin-left: 25px;
            list-style: none;
            list-style-image: url(../img/iconos/king-poring-1-unscreen.gif);
        }
    
    .actions{
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    
    .actions button{
        margin-left: 10px;
        background-color: rgb(246, 115, 246);
        color: white;
        padding: 6px;
        border: none;
        border-radius: 3px;
    }
    
    .actions input{
        padding: 6px;
        border-radius: 3px;
        border: none;
        background-color: rgb(243, 245, 245);
    }
    


.footer{
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    align-items: center;
    }
    footer svg{
        width: 30px;
    }
    footer ul{
        list-style: none;
        }
    footer ul li a{
        text-decoration: none;
        font-size: 1.0em;

    }


.imagen-ampliable:hover {
        transform: scale(1.5);
      }

      /* reponsive */
/* 
#contenedor-grid{
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: repeat(5,20vh);
    grid-template-areas: 
    "one"
    "two"
    "three"
    "four"
    "five"
}

.one{grid-area: one;}
.two{grid-area: two;}
.three{grid-area: three;}
.four{grid-area: four;}
.five{grid-area: five;}

/* 1er Break Point */


/* Boostrap Inicio */
.btn:hover{
    background-color: red;
    color: green;}
.btn{color: black;
    background-color: rgb(154, 175, 135);}
.card-body{
    text-align: center
}
.navbar-toggler{
    color:black
}

@media screen and (max-width: 991px) {
    .small-screen {
      display: none;
    }
  }
    